Repository tasnimzotder/hacktoberfest-2020, pull requests merged in 2020-09, with the labels that each got.

#3 add 2 numbers
  python/add.py
Labels: hacktoberfest

#6 Updated the python file.
  python/add.py
Labels: hacktoberfest

#5 Create index.js
  javascript/index.js
Labels: enhancement, hacktoberfest

#10 update function
  python/even_odd.py
Labels: hacktoberfest

#13 factorial in python
  python/array_sum.py
  python/factorial.py
Labels: hacktoberfest

#14 Update factorial.py
  python/array_sum.py
  python/factorial.py
Labels: enhancement, hacktoberfest

#15 Even_Odd function
  python/even_odd.py
Labels: enhancement, hacktoberfest

#17 First-commit
  html/index.html
  python/number-guessing-game.py
Labels: enhancement, hacktoberfest

#18 Updated the number-guessing-game.py
  python/number-guessing-game.py
Labels: bug, hacktoberfest

#19 Update index.html and Added Palindrome Checker in python
  html/index.html
  python/palindrome_checker.py
Labels: enhancement, hacktoberfest

#20 Added Positive Negative checker under Python
  python/positive_negative.py
Labels: enhancement, hacktoberfest

#23 Added greater number function
  python/find-greater.py
Labels: enhancement, hacktoberfest

#16 Created HTML page
  assets/fest.svg
  html/index.html
  html/style.css
Labels: enhancement, hacktoberfest

#25 My First PR
  _hackbars/abdul_azim.md
Labels: enhancement, hacktoberfest

#26 added Pranav's hackbar
  _hackbars/Pranav_vp.md
Labels: hacktoberfest

#27 Added my Hackbar
  _hackbars/Ankit_Goel.md
Labels: hackbar

#30 MY first contribution
  _hackbars/Dhaval_Maniyar.md
Labels: hackbar, preptember

#32 Create shahil_akter.md
  _hackbars/shahil_akter.md
Labels: hackbar, preptember

#34 Update shahil_akter.md
  _hackbars/shahil_akter.md
Labels: bug, hackbar, preptember

#35 Added muhammad_haseeb.md
  _hackbars/muhammad_haseeb.md
Labels: hackbar, preptember

#36 :art: v3 - Climate Change Theme
  README.md
  _layouts/default.html
  assets/docs_img/PR.jpg
  assets/docs_img/PR_1.jpg
  assets/docs_img/PR_2.jpg
  assets/docs_img/clone.jpg
  assets/docs_img/fork.jpg
  assets/docs_img/hacktoberfest-banner.jpg
  assets/docs_img/hacktoberfest.jpg
Labels: climate-change, documentation, enhancement
