Repository tasnimzotder/hacktoberfest-2020, pull requests merged in 2020-10, with the labels that each got.

#31 Rishav_Jaiswal.md Added
  _hackbars/Rishav_Jaiswal.md
Labels: hackbar, hacktoberfest

#37 Go Green!
  _hackbars/parikchit10.md
  assets/images/parikchit10.jpg
Labels: climate-change, hackbar, hacktoberfest, preptember

#41 make some grammatical corrections
  README.md
Labels: bug, hacktoberfest

#45 add ctq3103.md and ctq3103.jpg
  _hackbars/ctq3103.md
  assets/images/ctq3103.jpg
Labels: climate-change, hackbar, hacktoberfest

#44 add climate change photo and message to open source
  _hackbars/Bharath_C_S.md
  assets/images/Bharath_C_S.jpg
Labels: climate-change, hackbar, hacktoberfest

#43 smish's message for the world [add _hackbars/satyajit_mishra.md, assets/images/satyajit_mishra.jpg]
  _hackbars/satyajit_mishra.md
  assets/images/satyajit_mishra.jpg
Labels: climate-change, hackbar, hacktoberfest

#38 fixed a typo in Readme file
  README.md
Labels: bug, documentation, hacktoberfest

#39 added rushivachhani in _hackbars
  _hackbars/rushi_vachhani.md
  assets/images/rushi_vachhani.jpg
Labels: climate-change, hackbar, hacktoberfest

#40 Exclude some typos and add the information page.
  README.md
  _hackbars/Suyash_Srivastava.md
  assets/images/Suyash_Srivastava.jpg
Labels: bug, climate-change, hackbar, hacktoberfest

#46 Added Python Code to get Live Covid Data
  python/getLiveCovidData.py
Labels: hacktoberfest, python

#51 Add the functions to compute the area of Circle, Square and Triangle
  javascript/area.js
Labels: hacktoberfest, javascript

#50 Update hackbar with climate change message
  _hackbars/muhammad_haseeb.md
  assets/images/muhammad_haseeb.jpg
Labels: climate-change, hackbar, hacktoberfest

#53 Add a hackbar
  _hackbars/SaiAshish2906.md
  assets/images/SaiAshish2906.jpg
Labels: climate-change, hackbar, hacktoberfest

#56 Add Climate change photo
  _hackbars/deeksha.md
  assets/images/deeksha.jpg
Labels: climate-change, hackbar, hacktoberfest

#42 palindrome check of numbers included
  python/palindrome_checker.py
Labels: hacktoberfest, python

#54 calculations.js updated
  javascript/calculations.js
Labels: climate-change, hacktoberfest, javascript

#59 fibonacci.py
  python/fibonacci.py
Labels: Hacktoberfest, python

#60 Add Sonu's Hackbar
  _hackbars/mukhtar_zotder.md
  assets/images/mukhtar_zotder.jpg
Labels: Hacktoberfest, climate-change, hackbar

#63 Hacktoberfest/Prevent Climate Change
  _hackbars/melkisedek_ubalde.md
  assets/images/melkisedek_ubalde.jpg
Labels: Hacktoberfest, climate-change, hackbar

#64 Add my hackbar
  _hackbars/TharVid.md
  assets/images/TharVid.jpg
Labels: Hacktoberfest, climate-change, hackbar

#65 Add Novaen's Hackbar
  _hackbars/Novaenn.md
  assets/images/Novaenn.jpeg
Labels: Hacktoberfest, climate-change, hackbar

#61 Create daimondpattern.py
  python/daimondpattern.py
Labels: Hacktoberfest, python

#62 Don't let your actions harm Earth
  _hackbars/yashikacac.md
  assets/images/yashika.jpg
Labels: Hacktoberfest, climate-change, hackbar

#66 Add new hackbar
  _hackbars/Suharu.md
  assets/images/suharu.jpg
Labels: Hacktoberfest, climate-change, hackbar

#67 Add Gaurav_Saha.md file to '_hackbars' directory
  _hackbars/Gaurav_Saha.md
  assets/images/Gaurav_Saha.jpg
Labels: Hacktoberfest, climate-change, hackbar

#68 ✨ Top Submission
  README.md
Labels: documentation, enhancement

#69 This is a todo command-Line App
  python/todo-cmdLine-App.py
Labels: Hacktoberfest, python

#72 Add a hackbar
  _hackbars/Anita-ihuman.md
  assets/images/Anita-ihuman.jpg
Labels: Hacktoberfest, climate-change, hackbar

#71 TITLE CASE.PY
  python/TITLE CASE
Labels: Hacktoberfest, python

#77 Add DIAMONDPATTERN.CPP
  DIAMONDPATTERN.CPP
Labels: Hacktoberfest

#82 Pull Request For Hactoberfest
  _hackbars/tanvi_daware.md
  assets/images/tanvi_daware.jpg
Labels: Hacktoberfest, climate-change, hackbar

#84 contribution for climate change
  _hackbars/SarthakMittal.md
  assets/images/SarthakMittal.jpg
Labels: Hacktoberfest, climate-change, hackbar

#76 Add prime_check.cpp
  cpp/prime_check.cpp
Labels: Hacktoberfest

#85 Add Muhammed Nihad's Hackbar
  _hackbars/MuhammedNihad.md
  assets/images/MuhammedNihad.jpg
Labels: Hacktoberfest, climate-change, hackbar

#78 Add BubbleSort.py
  python/BubbleSort.py
Labels: Hacktoberfest, python

#80 Add DecimalToBinary.py
  python/DecimalToBinary.py
Labels: Hacktoberfest, python

#86 Add Souvik's hackbar
  _hackbars/Souvik_Ghosal.md
  assets/images/Souvik_Ghosal.jpg
Labels: Hacktoberfest, climate-change, hackbar

#81 Add a hackbar & image
  _hackbars/pratiksha_ramteke.md
  assets/images/pratiksha_ramteke.jpg
Labels: Hacktoberfest, climate-change, hackbar

#87 My first open source contribution
  _hackbars/chaitali_narkhede.md
  assets/images/chaitali_narkhede.jpg
Labels: Hacktoberfest, climate-change, hackbar

#88 My first open source
  _hackbars/uzma_shaikh.md
  assets/images/uzma_shaikh.jpg
Labels: Hacktoberfest, climate-change, hackbar

#90 binary_search.py
  python/binary_search.py
Labels: Hacktoberfest, python

#92 My first Contribution in Open Source
  _hackbars/zeel-codder.md
  assets/images/zeel_codder.jpg
  python/Spilt.py
Labels: Hacktoberfest, climate-change, hackbar, python

#93 Add Subham's Hackbar
  _hackbars/shubham_narkhede.md
  assets/images/shubham_narkhede.jpg
Labels: Hacktoberfest, climate-change, hackbar

#94 :art: Add emojis
  _hackbars/mukhtar_zotder.md
Labels: bug

#97 Stack & Queue Implementation in Python
  python/queue.py
  python/stack.py
Labels: Hacktoberfest, python

#99 Added Climate_Change_Factor.py and Simplified view of getLiveCovidData.py
  _hackbars/YASHBRO.md
  assets/images/YASHBRO.jpg
  python/Climate_Change_Factors.py
  python/getLiveCovidData.py
Labels: Hacktoberfest, climate-change, hackbar, python

#103 Add python armstrong.py
  python/armstrong.py
Labels: Hacktoberfest, python

#104 Add strongnumber.py
  python/strongnumber.py
Labels: Hacktoberfest, python

#107 Open Source Contribution
  _hackbars/levi_arista.md
  assets/images/levi_arista.jpg
Labels: Hacktoberfest, climate-change, hackbar

#108 Add UUID generator
  javascript/uuidgenerator.js
Labels: Hacktoberfest, javascript

#109 Add Hafifamudi's Hackbar
  _hackbars/hafifAmudi.md
  assets/images/hafifAmudi.jpg
Labels: Hacktoberfest, climate-change, hackbar

#112 Add Mahendra's Hackbar & C++ Infix to Postfix
  _hackbars/Mahendrasingh.md
  assets/images/mahendrasingh.jpeg
  cpp/InfixtoPostfix.cpp
Labels: Hacktoberfest, climate-change, hackbar, hacktoberfest-accepted

#122 Add AmreshSinha's Hackbar
  _hackbars/Amresh_Prasad_Sinha.md
  assets/images/Amresh_Prasad_Sinha.png
Labels: climate-change, hackbar

#121 Add Aryan's Hackbar
  _hackbars/Aryan-Bindal.md
  assets/images/Aryaniiit002.jpg
Labels: climate-change, hackbar

#123 We have no time [Hackbar]
  _hackbars/endros.md
  assets/images/endros_holdingboard.jpg
Labels: climate-change, hackbar

#125 add image iceberg melting
  _hackbars/taufik_amaryansyah.md
  assets/images/taufik_amaryansyah.jpg
Labels: climate-change, hackbar

#126 Add a markdown file and an image
  _hackbars/Yash_Agrawal.md
  assets/images/Yash_Agrawal.jpg
Labels: climate-change, hackbar

#127 add vishnur's hackbar
  _hackbars/vishnur.md
  assets/images/vishnur.jpg
Labels: climate-change, hackbar

#128 Add Mitch Kapoor's Hackbar
  _hackbars/ayushranjan.md
  assets/images/ayushranjan.jpg
Labels: climate-change, hackbar

#129 Create merge_sort.py
  python/merge_sort.py
Labels: python

#130 add my hackbar
  _hackbars/mhmmdrzld.md
  assets/images/mhmmdrzld.png
Labels: climate-change, hackbar

#132 first commit to climate change
  _hackbars/zoltan_karpati.md
  assets/images/zoltan_karpati.jpg
Labels: climate-change, hackbar

#135 add apoorva hackbar
  _hackbars/apoorva.md
  assets/images/apoorva.jpg
Labels: climate-change, hackbar

#134 add climate change image and hackbar
  _hackbars/fernanda_costa.md
  assets/images/fernanda_costa.jpg
Labels: climate-change, hackbar

#75 Add compute.py for Electrostatic Force Calculator (GUI)
  python/electrostatic_force/compute.py
Labels: python

#74 Add Electrostatic Force Calculator (GUI)
  python/electrostatic_force/electrostatic_force.py
Labels: python

#140 Add hackbar
  _hackbars/Karim_ElAzzouni.md
  assets/images/karim_elazzouni.png
Labels: climate-change, hackbar

#137 add save earth hackbar
  _hackbars/vikranth.md
  assets/images/vikranth.jpg
Labels: climate-change, hackbar

#133 Add Fra146's hackbar
  _hackbars/fra146.md
  assets/images/fra146.jpg
Labels: climate-change, hackbar

#143 BFS Algorithm
  python/BFS.py
Labels: python

#73 Add student management system [sqlite3 & tkinter]
  python/student_management_system/sql_python.py
Labels: python

#147 Add rabindratamang's hackbar
  _hackbars/rabindra_tamang.md
  assets/images/rabindra_tamang.jpg
Labels: climate-change, hackbar

#144 Create_plant.py
  python/plant.py
Labels: python

#151 🔥 Remove top hackbar(s) feature
  README.md
Labels: enhancement

#152 Add hackbar for Kiara B
  _hackbars/Kiara_Barias.md
  assets/images/Kiara_Barias.jpg
Labels: climate-change, hackbar

#150 Add Bhanu's Hackbar
  _hackbars/bhanu.md
  assets/images/Bhanu.jpg
Labels: climate-change, hackbar

#154 Add Devansh's hackbar
  _hackbars/Devansh_Soni.md
  assets/images/Devansh_Soni.png
Labels: climate-change, hackbar, hacktoberfest-accepted

#155 Change banners with official banners
  README.md
  _layouts/default.html
  assets/docs_img/Icon.svg
  assets/docs_img/_Sponsors Dark.svg
  assets/docs_img/hacktoberfest-banner.jpg
  assets/docs_img/hacktoberfest-banner.png
  assets/docs_img/hacktoberfest.jpg
  assets/docs_img/hacktoberfest.png
Labels: documentation, hacktoberfest-accepted

#157 Add Robin's hackbar
  _hackbars/rabin-khatiwada.md
  assets/images/rabin77.jpg
Labels: climate-change, hackbar

#158 My first Hacktoberfest PR
  _hackbars/Shrey_Patnaik.md
  assets/images/Shrey_Patnaik.jpg
Labels: climate-change, hackbar

#153 Create RockPaperScissors.py
  python/RockPaperScissors.py
Labels: python

#146 DFS Algorithm
  python/DFS.py
Labels: python

#148 Add Binary Tree Creation cpp
  cpp/Binary_Tree_Creation.cpp
Labels: cpp

#149 The dynammic programming SUbset Sum question
  python/SubSet Problem.py
Labels: python

#142 add user login interface [python]
  python/GUI.py
Labels: python

#162 HacktoberFest_PR
  _hackbars/Lal-Jr.md
  assets/images/Lal-Jr.jpg
Labels: climate-change, hackbar

#164 Add Devwanto's hackbar
  _hackbars/devwanto.md
  assets/images/devwanto.jpg
Labels: climate-change, hackbar

#163 Create bogosort.py
  python/bogosort.py
Labels: python

#173 There is no Planet B
  _hackbars/srijon_kumar.md
  assets/images/srijon_kumar.jpg
Labels: climate-change, hackbar, hacktoberfest-accepted

#159 Hack Bar - Harshit Gupta
  _hackbars/harshit.md
  assets/images/online-tree-plantation.jpg
Labels: climate-change, hackbar

#167 Add qasim_khan.jpg rising temperature file
  _hackbars/qasim_khan.md
  assets/images/Qasim_Khan.JPG
Labels: climate-change, hackbar

#169 add Utkarsh's hackbar
  _hackbars/utkarsh.md
  assets/images/utkarsh.png
Labels: climate-change, hackbar

#171 add MrJim-06's hackbar
  _hackbars/mrjim.md
  assets/images/mrjim.jpg
Labels: climate-change, hackbar

#176 Add Souvik's hackbar
  _hackbars/SouvikDeb.md
  assets/images/SouvikDeb.jpg
Labels: climate-change, hackbar

#181 add Shahil's hackbar
  _hackbars/shahil.md
  assets/images/shahil.jpg
Labels: climate-change, hackbar

#179 add Barbara's hackbar
  _hackbars/barbaraaliverti.md
  assets/images/barbararaaliverti.jpeg
Labels: climate-change, hackbar

#174 Calculator with python
  python/calculator.py
Labels: python

#175 Create factorial.cpp
  cpp/factorial.cpp
Labels: cpp

#182 add Chinmay's hackbar
  _hackbars/Chinmay_pal.md
  assets/images/Chinmay0896.jpg
Labels: climate-change, hackbar

#184 add Eugli's hackbar
  _hackbars/eugli.md
  assets/images/eugli.jpg
Labels: climate-change, hackbar

#187 add Vitor Nascimento's hackbar
  _hackbars/Vitor_Nascimento.md
  assets/images/Vitor_Nascimento.jpg
Labels: climate-change, hackbar

#186 add Droogy's hackbar
  _hackbars/droogy.md
  assets/images/droogy.jpg
Labels: climate-change, hackbar

#172 Frequency of a Num [cpp]
  cpp/FrequencyOfANum.cpp
Labels: cpp

#160 Add heapSort in Python folder
  python/heapSort.py
Labels: python

#190 add Dylan's hackbar
  _hackbars/dylan_corriveau.md
  assets/images/dylan_corriveau.jpg
Labels: climate-change, hackbar

#192 add Guga's hackbar
  _hackbars/gugacavalieri.md
  assets/images/gugacavalieri.jpg
Labels: climate-change, hackbar

#193 No water, no life
  _hackbars/sykezz.md
  assets/images/sykezz.jpg
Labels: climate-change, hackbar

#194 add Joepace's hackbar
  _hackbars/joepace.md
  assets/images/joepace.jpg
Labels: climate-change, hackbar

#188 Add Mannan's Hackbar
  _hackbars/Mannan_Bansal.md
  assets/images/Mannan_Bansal.jpg
Labels: climate-change, hackbar

#198 New contribution by EdithGaspar
  _hackbars/Edith_Gaspar.md
  assets/images/edith_gaspar.jpg
Labels: climate-change, hackbar

#196 Add Muskan's Hackbar
  _hackbars/MuskanAgarwal.md
  assets/images/MuskanAgarwal.png
Labels: climate-change, hackbar, hacktoberfest-accepted

#191 Create Dijkstra's Algorithm
  python/Dijkstra.py
Labels: python

#195 Add BinarySearch algorithm [cpp]
  cpp/BinarySearch.cpp
Labels: cpp

#204 Preserve Brazil, Preserve the World, Preserve our existence
  _hackbars/caique_coelho.md
  assets/images/caique_coelho.jpg
Labels: climate-change, hackbar

#206 add Manish's hackbar
  _hackbars/manish_soni.md
  assets/images/Manish_Soni.jpg
Labels: climate-change, hackbar

#207 add hackbar - walk when you can
  _hackbars/himanshu.md
  assets/images/himanshu.jpg
Labels: climate-change, hackbar

#208 add sukitz's hackbar
  _hackbars/sukitz.md
  assets/images/sukitz.jpg
Labels: climate-change, hackbar

#168 add Juvhej's hackbar
  _hackbars/Juvhej.md
  assets/images/Juvhej.jpg
Labels: climate-change, hackbar

#213 add Pavan's hackbar
  _hackbars/pavan.md
  assets/images/pavan.jpeg
Labels: climate-change, hackbar

#217 add Rebai's hackbar
  _hackbars/RebaiAhmed.md
  assets/images/RebaiAhmed.jpeg
Labels: climate-change, hackbar

#220 add JiriJAdam's hackbar
  _hackbars/jirijadam.md
  assets/images/jirijadam.jpeg
Labels: climate-change, hackbar

#221 add Paula's hackbar
  _hackbars/paula_asto.md
  assets/images/paula_asto.jpg
Labels: climate-change, hackbar

#218 add Pratham's hackbar
  _hackbars/pratham.md
  assets/images/mini_red_plant.jpg
Labels: climate-change, hackbar

#215 add Zanoni's hackbar
  _hackbars/zanoni.md
  assets/images/zanoni.jpg
Labels: climate-change, hackbar

#225 add hackbar to support the climate change
  _hackbars/bolajiogidan.md
  assets/images/bolajiogidan.png
Labels: climate-change, hackbar

#226 add wsc's hackbar
  _hackbars/wsc.md
  assets/images/wsc.jpg
Labels: climate-change, hackbar

#222 add Harsh's hackbar
  _hackbars/harsh_i.md
  assets/images/harsh_i.jpg
Labels: climate-change, hackbar

#230 save mother earth
  _hackbars/Mansi_Gupta.md
  assets/images/Mansi_Gupta.jpg
Labels: climate-change, hackbar

#197 Create Breadth First Search or BFS for a Graph
  Breadth First Search or BFS for a Graph
Labels: python

#202 Create N-base to DEC converter [python]
  python/nbase-to-decimal-converter.py
Labels: python

#210 add Sadab's hackbar
  _hackbars/itsSadabKhan.md
  assets/images/itsSadabKhan.jpg
Labels: climate-change, hackbar

#224 add viral_luke's hackbar
  _hackbars/viral_luke.md
  assets/images/viral_luke.jfif
Labels: climate-change, hackbar

#229 Create KMeans.py
  python/KMeans.py
Labels: python

#211 add ITreeMan's hackbar
  _hackbars/ITreeMan.md
  assets/images/ITreeMan.jpg
Labels: climate-change, hackbar

#233 Add LongestNonDecreasingSubSegment program [cpp]
  cpp/Longest non-decreasing segment.cpp
Labels: cpp

#234 add Kenneth_Luster's hackbar
  _hackbars/kenneth_Luster.md
  assets/images/Kenneth_Luster.jpg
Labels: climate-change, hackbar

#235 add Linda_Chun's hackbar
  _hackbars/linda_chun.md
  assets/images/linda_chun.jpg
Labels: climate-change, hacktoberfest-accepted

#236 add Rabanov's hackbar
  _hackbars/rabanov.md
  assets/images/Rabanov.jpg
Labels: climate-change, hackbar

#231 add Jaydeep's hackbar
  _hackbars/jaydeep_godara.md
  assets/images/less_is_more.jpg
Labels: climate-change, hackbar

#240 add Ashish's hackbar
  _hackbars/ashish_jain.md
  assets/images/you_decide.jpg
Labels: climate-change, hackbar

#243 Add Callum-W's hackbar
  _hackbars/Callum-W.md
  assets/images/Callum-W.jpg
Labels: climate-change, hacktoberfest-accepted

#232 add AttackTheMak's hackbar
  _hackbars/attackthemak.md
  assets/images/attackthemak.jpg
Labels: climate-change, hackbar, hacktoberfest-accepted
